@import url('https://fonts.googleapis.com/css?family=Arvo');

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-size: 13px;
  font-family: 'Arvo', monospace;
  overflow-x: hidden;

  @supports(display: grid) {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);

  @supports(display: grid) {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    padding: 4rem;
  }

  @supports(display: grid) {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background:  url('https://images.unsplash.com/photo-1546975490-a79abdd54533?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
//   &:nth-of-type(2n) {
//    background-image: url('https://images.unsplash.com/photo-1532543613220-158d46dc9e20?ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80');
//  }
  &:nth-of-type(3n) {
    background-image: url('https://images.unsplash.com/photo-1532543613220-158d46dc9e20?ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80');
  }
  &:nth-of-type(4n) {
    background-image: url('https://images.unsplash.com/photo-1547050995-e0fc36a8361f?ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80');
  }
  &:nth-of-type(5n) {
    background-image: url('https://images.unsplash.com/photo-1533089240521-ca7db9060ddd?ixlib=rb-1.2.1&auto=format&fit=crop&w=362&q=80');
  }
  &:nth-of-type(6n) {
    background-image: url('https://images.unsplash.com/photo-1524641234638-4c303747c310?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
   }
   &:nth-of-type(7n) {
      background-image: url('https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
   }
  &:nth-of-type(8n) {
   background-image: url('https://images.unsplash.com/photo-1525253086316-d0c936c814f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
 }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    transform: scale(1.05);
    &:after {
      opacity: 0;
    }
  }
  &__medium {
    grid-row-end: span 2;
  }
  &__large {
    grid-row-end: span 3;
  }
  &__full {
    grid-column-end: auto;

    @media screen and (min-width: 768px) {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }
  &__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;
    &:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}